body {
	background-color: #f0f2f5;
}

h1 {
	font-family: "Noto Sans", sans-serif;
	font-weight: bold;
	margin: 2rem 0;
	color: rgb(41, 41, 41);
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	overflow: auto;
}
